<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="text-center"><%= title %></h1>
      <div class="col">
        
        
        <div class="card text-center w-50 m-auto">
          <div class="card-header justify-content-center gap-2">
            <a class="btn btn-outline-primary" href="/add/<%= sideCard %>/<%= card_number %>">Add</a>
            <a class="btn btn-outline-primary" href="/flip/<%= sideCard %>/<%= card_number %>">flip</a>
            <a class="btn btn-outline-primary" href="/remove/<%= sideCard %>/<%= card_number %>">Remove</a>
            <a class="btn btn-outline-primary" href="/edit/<%= sideCard %>/<%= card_number %>">Edit</a>
          </div>
          <div class="card-body p-5 pt-2 m-auto shadow-sm w-100">
            <div class="row justify-content-end">
              <p class="text-end m-0 mb-4 text-muted"><%= side %></p>
            </div>
            <div class="row">
              <% if(condition == "edit"){ %>
                <%- include ./partials/form.ejs -%>
              <% } else if(condition == 0){ %>
                <%- include ./partials/content_paragraph.ejs -%>
              <% } %>

              <!-- TODOS -->
              <!-- [x] - If edit button is clicked, render form, else render content_paragraph -->
              <!-- [] - if add button is clicked render form again but this time with ability to add content -->
              
            </div>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <!-- <input class="btn btn-outline-primary" type="button" value="Previous"> -->
            <a class="btn btn-outline-primary" href="/previous/<%= sideCard %>/<%= card_number %>">Previous</a>

            <% if(condition == "edit"){ %>
              <%- include ./partials/save_button.ejs -%>
            <% } %>


            <!-- <input class="btn btn-outline-primary" type="button" value="Next"> -->
            <a class="btn btn-outline-primary" href="/next/<%= sideCard %>/<%= card_number %>">Next</a>
          </div>
        </div>
      </div>
      
      
        
      

      <!-- <% // sakav da stavam tuka partials forma ili partials tag zavisno od nekoja pozadinska logika/interakcija so korisnikot %> -->
      <!-- Znaci ako se isprati textarea element, pozicijata kajsto bila textarea sega da stane tekstualen element -->
      
    </div>

    <!-- <script src="/javascripts/main.js"></script> -->
  </body>
</html>
